*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1dd1a1;
}

.login{
    position: relative;
    padding: 50px;
    background-color: white;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
}

.login h2{
    font-weight: 500;
    border-left: 15px solid #1dd1a1;
    line-height: 1em;
    padding-left: 10px;
    transition: 0.5s;
    margin-bottom: 30px;
}

.login .inputBox{
    position: relative;
}

.login .inputBox input{
    position: relative;
    width: 100%;
    padding: 10px 15px;
    outline: none;
    border: 2px solid #32816c;
    font-size: 1em;
    color: #333;
}

.login .inputBox input#btn{
    border: none;
    background: #1dd1a1;
    color: white;
    transition: .5s;
    font-size: 1.1em;
    font-weight: 500;
    cursor: pointer;
    margin-top: 25px;
}

.login .inputBox input#btn:hover{
    background-color: #18765d;
}

.login .group{
    display: flex;
    justify-content: space-between;
}

.login .group a{
    color: #333;
    text-decoration: none;
}

.login .group a:nth-child(2){
    font-weight: 500;
    text-decoration: underline;
}

.login .group a:hover{
    color: #18765d;
}